<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login - Sistema de Consultas Médicas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="login-container">
        <h1>Olá, vamos verificar se você já possui cadastro com a gente...</h1>
        {% if step == 2 %}
        <form action="/login" method="POST">
            <input type="hidden" name="email" value="{{ email }}">
            <label for="senha">Digite sua senha:</label>
            <input type="password" id="senha" name="senha" required placeholder="Digite sua senha">
            <button type="submit">Entrar</button>
        </form>
        {% elif step == 3 %}
        <div>
            <p>Email não encontrado. <a href="/register">Cadastre-se aqui</a>.</p>
        </div>
        {% else %}
        <form action="/check-email" method="POST">
            <div>
                <label for="email">Primeiro, digite seu email:</label>
                <input type="email" id="email" name="email" required placeholder="Digite seu email">
                <button type="submit">Avançar</button>
            </div>
        </form>
        {% endif %}
    </div>
</body>
</html>