<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Área do Paciente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        async function obterInformacoesPaciente(id) {
            try {
                const response = await fetch(`/paciente/${id}`);
                if (!response.ok) {
                    throw new Error('Paciente não encontrado');
                }
                const dados = await response.json();
                document.getElementById('paciente-info').innerHTML = `
                    <p>id: ${dados.id}</p>
                    <p>nome: ${dados.nome}</p>
                    <p>email: ${dados.email}</p>
                    <p>tipo_usuario: ${dados.tipo_usuario}</p>
                `;
            } catch (error) {
                document.getElementById('paciente-info').innerHTML = `
                    <p>${error.message}</p>
                `;
            }
        }

    // Configurar o manipulador de eventos do botão
    document.addEventListener('DOMContentLoaded', function() {
        const botao = document.getElementById('get_usuario_info');
        botao.addEventListener('click', function() {
            obterInformacoesPaciente(1)
        });
    });

    // Função para limpar os dados da div 'paciente_info'
    function limpar_dados() {
        const divPacienteInfo = document.getElementById('paciente-info');
        if (divPacienteInfo) {
            divPacienteInfo.textContent = ''; // Limpa o conteúdo da div
        } else {
            console.error('Elemento com id "paciente-info" não encontrado.');
        }
    }

    // Configurar o manipulador de eventos do botão 'limpar_dados'
    document.addEventListener('DOMContentLoaded', function() {
        const botaoLimpar = document.getElementById('limpar_dados');
        if (botaoLimpar) {
            botaoLimpar.addEventListener('click', function() {
                limpar_dados();
            });
        } else {
            console.error('Elemento com id "limpar_dados" não encontrado.');
        }
    });

    </script>
</head>
<body>
    <h1>Bem-vindo, {{ usuario_nome }}</h1>
    <nav>
        <a href="/agendar_consulta">Agendar Consulta</a>
        <a href="/consultas">Minhas Consultas</a>
        <a href="/logout">Sair</a>
    </nav>
    <!-- Conteúdo específico da página -->
    <!-- botão pega as informacoes do usuario -->
    <br>
    <button id="get_usuario_info">Dados do Usuário</button>
    <br>
    <div id="paciente-info">
        <!-- Informações do paciente serão exibidas aqui -->
    </div>
    <br>
    <button id="limpar_dados">Limpar Dados</button>
    <br>
</body>
</html>
