{% extends "base.html" %}

{% block title %}Consultas Agendadas - MedicalBooking{% endblock %}

{% block content %}
<div class="consultas-container">
    <h1 class="profile-title">Minha Agenda de Consultas</h1>
    
    <a href="{{ url_for('perfil', id_usuario=current_user.id) }}" class="custom-submit-button">Voltar para o Perfil</a>

    <div class="agenda">
        {% for dia, consultas in agenda.items() %}
            <div class="dia-consultas">
                <h2>{{ dia.strftime('%d/%m/%Y') }}</h2>
                {% if consultas %}
                    <ul class="lista-consultas">
                    {% for consulta in consultas %}
                        <li class="consulta-item">
                            <p><strong>Horário:</strong> {{ consulta.data_hora.strftime('%H:%M') }}</p>
                            <p><strong>Paciente:</strong> {{ consulta.paciente.username }}</p>
                            <p><strong>Status:</strong> {{ consulta.status }}</p>
                            {% if consulta.observacoes %}
                                <p><strong>Observações:</strong> {{ consulta.observacoes }}</p>
                            {% endif %}
                            <form method="POST" action="{{ url_for('atualizar_consulta', id_consulta=consulta.id) }}">
                                {% if consulta.status != 'Cancelada' and consulta.status != 'Concluído' %}
                                <a href="{{ url_for('realizar_consulta', id_consulta=consulta.id) }}" class="custom-submit-button">Realizar Consulta</a>
                                <button type="submit" name="action" value="cancelar" class="custom-submit-button cancel-button" onclick="return confirm('Tem certeza que deseja cancelar esta consulta?');">Cancelar Consulta</button>
                                {% endif %}
                            </form>
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>Nenhuma consulta agendada para este dia.</p>
                {% endif %}
            </div>
        {% else %}
            <p>Não há consultas agendadas para os próximos 7 dias.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}

