{% extends "base.html" %}
{% block title %}Criar conta - MedicalBooking{% endblock %}
{% block content %}
<form method="POST" class="login-form" id="createAccountForm">
    {{ form.csrf_token }}
    <h1 class="login-title">MedicalBooking</h1>
    <p class="login-subtitle">Crie sua conta para começar</p>
    
    <div class="input-group">
        {{ form.email(class="form-control", placeholder=" ", autocomplete="email") }}
        <label class="floating-label" for="email">Email</label>
    </div>
    
    <div class="input-group">
        {{ form.username(class="form-control", placeholder=" ", autocomplete="username") }}
        <label class="floating-label" for="username">Nome de usuário</label>
    </div>

    <div class="input-group">
        {{ form.senha(class="form-control", placeholder=" ", autocomplete="new-password") }}
        <label class="floating-label" for="senha">Senha</label>
    </div>
    
    <div class="input-group">
        {{ form.confirmar_senha(class="form-control", placeholder=" ", autocomplete="new-password") }}
        <label class="floating-label" for="confirmar_senha">Confirmar senha</label>
    </div>

    <div class="input-group">
        {{ form.tipo(class="form-control", placeholder=" ", id="tipo") }}
        <label class="floating-label" for="tipo">Tipo (Médico ou Paciente)</label>
    </div>

    <div class="input-group" id="especialidade-group">
        {{ form.especialidade(class="form-control", placeholder=" ") }}
        <label class="floating-label" for="especialidade">Especialidade</label>
    </div>

    <div class="input-group" id="crm-group">
        {{ form.crm(class="form-control", placeholder=" ") }}
        <label class="floating-label" for="crm">CRM</label>
    </div>

    <div class="input-group">
        {{ form.telefone(class="form-control", placeholder=" ", autocomplete="tel") }}
        <label class="floating-label" for="telefone">Telefone</label>
    </div>

    <div class="input-group consent-group">
        <input type="checkbox" id="consent" name="consent" required>
        <label for="consent">Eu li e aceito os <a href="#" id="termsLink">termos e condições</a></label>
    </div>

    <div class="input-group">
        {{ form.submit(class="custom-submit-button", value="Criar conta", disabled=True, id="submitButton") }}
    </div>

    <p class="create-account">
        Já tem uma conta? <a href="{{ url_for('homepage') }}">Faça login aqui.</a>
    </p>
</form>

<div id="termsModal" class="modal">
    <div class="modal-content">
        <h2>Termos e Condições</h2>
        <p>
            <strong>1. Aceitação dos Termos</strong><br>
            Bem-vindo ao MedicalBooking! Ao se cadastrar e utilizar nossa plataforma para agendamento de consultas médicas, você concorda com os Termos e Condições descritos abaixo. Se não concordar com estes termos, não utilize o MedicalBooking.
            <br><br>
            
            <strong>2. Objetivo da Plataforma</strong><br>
            O MedicalBooking é um serviço que conecta pacientes e profissionais de saúde, oferecendo uma solução para o agendamento de consultas médicas. A plataforma não presta serviços médicos nem substitui o atendimento profissional.
            <br><br>
            
            <strong>3. Cadastro de Usuários</strong><br>
            3.1. <strong>Tipos de Usuários:</strong> O MedicalBooking permite o cadastro de dois tipos de usuários:
            <ul>
                <li><strong>Pacientes:</strong> Pessoas que buscam agendar consultas médicas.</li>
                <li><strong>Médicos:</strong> Profissionais de saúde que oferecem consultas e outros serviços.</li>
            </ul>
            3.2. <strong>Responsabilidades do Usuário:</strong>
            <ul>
                <li>Fornecer informações precisas e atualizadas ao se cadastrar.</li>
                <li>Garantir a veracidade dos dados profissionais fornecidos, no caso dos médicos.</li>
                <li>Manter a confidencialidade das credenciais de acesso à plataforma.</li>
            </ul>
            3.3. <strong>Validação de Cadastro:</strong>
            <ul>
                <li>Para médicos, será necessário fornecer documentos que comprovem a habilitação profissional.</li>
                <li>O MedicalBooking se reserva o direito de suspender ou excluir cadastros que não atendam aos critérios estabelecidos.</li>
            </ul>
            <br>

            <strong>4. Uso da Plataforma</strong><br>
            4.1. <strong>Agendamento de Consultas:</strong>
            <ul>
                <li>Os pacientes podem utilizar a plataforma para buscar profissionais, verificar disponibilidade e agendar consultas.</li>
                <li>Os médicos devem manter suas agendas atualizadas para evitar conflitos de horários.</li>
            </ul>
            4.2. <strong>Política de Cancelamento:</strong>
            <ul>
                <li>Cancelamentos ou reagendamentos devem ser feitos diretamente pela plataforma, respeitando as regras definidas por cada profissional.</li>
            </ul>
            4.3. <strong>Pagamentos:</strong>
            <ul>
                <li>Caso haja integração com serviços de pagamento, as condições serão especificadas no momento da transação.</li>
            </ul>
            <br>

            <strong>5. Limitação de Responsabilidade</strong><br>
            5.1. O MedicalBooking não se responsabiliza por:
            <ul>
                <li>A precisão ou validade das informações fornecidas pelos usuários.</li>
                <li>A qualidade do atendimento médico ou resultados obtidos.</li>
                <li>Eventuais conflitos entre pacientes e médicos.</li>
            </ul>
            5.2. A plataforma atua apenas como um intermediário e não se responsabiliza por quaisquer danos ou prejuízos decorrentes do uso dos serviços.
            <br><br>

            <strong>6. Privacidade e Proteção de Dados</strong><br>
            6.1. O MedicalBooking se compromete a proteger os dados pessoais dos usuários, em conformidade com a legislação aplicável, como a Lei Geral de Proteção de Dados (LGPD).
            <br>
            6.2. Os dados fornecidos pelos usuários serão utilizados exclusivamente para fins de operação da plataforma e melhoria dos serviços.
            <br><br>

            <strong>7. Modificações nos Termos</strong><br>
            O MedicalBooking se reserva o direito de alterar estes Termos e Condições a qualquer momento. As modificações serão notificadas aos usuários por meio da plataforma, e o uso continuado após as alterações constitui aceitação dos novos termos.
            <br><br>

            <strong>8. Disposições Gerais</strong><br>
            8.1. Estes Termos e Condições são regidos pelas leis do Brasil.
            <br>
            8.2. Em caso de dúvidas ou problemas relacionados à plataforma, entre em contato com o suporte do MedicalBooking por meio dos canais disponíveis.
        </p>
        <button id="closeModal" class="custom-submit-button">Fechar</button>
    </div>
</div>


<script>
document.getElementById('tipo').addEventListener('change', function() {
    var tipo = this.value;
    var especialidadeGroup = document.getElementById('especialidade-group');
    var crmGroup = document.getElementById('crm-group');
    
    if (tipo === 'Médico') {
        especialidadeGroup.style.display = 'block';
        crmGroup.style.display = 'block';
    } else {
        especialidadeGroup.style.display = 'none';
        crmGroup.style.display = 'none';
    }
});

// Trigger change event on page load to set initial state
document.getElementById('tipo').dispatchEvent(new Event('change'));

// Consent checkbox and submit button logic
var consentCheckbox = document.getElementById('consent');
var submitButton = document.getElementById('submitButton');

consentCheckbox.addEventListener('change', function() {
    submitButton.disabled = !this.checked;
});

// Terms modal logic
var modal = document.getElementById('termsModal');
var termsLink = document.getElementById('termsLink');
var closeModal = document.getElementById('closeModal');

termsLink.onclick = function(e) {
    e.preventDefault();
    modal.style.display = "block";
}

closeModal.onclick = function() {
    modal.style.display = "none";
}

window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
{% endblock %}

