<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    <form method="POST" action="{{ url_for('homepage') }}">
        {{ form.csrf_token }}
        <h1>Login</h1>
        
        <div>
            {{ form.email(class="form-control", placeholder="Email") }}
        </div>
        
        <div id="password-field" style="display: none;">
            {{ form.senha(class="form-control", placeholder="Senha") }}
        </div>
        
        <div>
            {{ form.submit(class="custom-submit-button") }}
        </div>
    </form>
    <script>
        document.getElementById('email').addEventListener('input', function() {
            var email = this.value;
            var passwordField = document.getElementById('password-field');
            if (email) {
                passwordField.style.display = 'block';
            } else {
                passwordField.style.display = 'none';
            }
        });
    </script>
</body>
</html>