{% extends "base.html" %}

{% block title %}Minhas Consultas - MedicalBooking{% endblock %}

{% block content %}
<div class="consultas-container">
    <h1 class="profile-title">Minhas Consultas</h1>
    
    <a href="{{ url_for('perfil', id_usuario=current_user.id) }}" class="custom-submit-button">Voltar para o Perfil</a>

    {% if consultas %}
    <div class="consultas-list">
        {% for consulta in consultas %}
        <div class="consulta-item">
            <p><strong>Data e Hora:</strong> {{ consulta.data_hora.strftime('%d/%m/%Y %H:%M') }}</p>
            <p><strong>Médico:</strong> {{ consulta.profissional.username }}</p>
            <p><strong>Status:</strong> {{ consulta.status }}</p>
            {% if consulta.prescricao %}
            <p><strong>Prescrição:</strong> {{ consulta.prescricao }}</p>
            {% endif %}
            <div class="consulta-actions">
                {% if consulta.status != 'Cancelada' and consulta.status != 'Concluído' and (consulta.data_hora > now() or consulta.status == 'Reagendado') %}
                <form method="POST" action="{{ url_for('atualizar_consulta', id_consulta=consulta.id) }}">
                    <button type="submit" name="action" value="cancelar" class="custom-submit-button cancel-button" onclick="return confirm('Tem certeza que deseja cancelar esta consulta?');">Cancelar Consulta</button>
                </form>
                {% endif %}
                {% if consulta.status != 'Cancelada' and consulta.status != 'Concluído' and (consulta.data_hora > now() or consulta.status == 'Reagendado') %}
                <a href="{{ url_for('reagendar_consulta', id_consulta=consulta.id) }}" class="custom-submit-button reschedule-button">Reagendar Consulta</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>Você não tem consultas agendadas.</p>
    {% endif %}
</div>
{% endblock %}

