{% extends "base.html" %}

{% block title %}Perfil - MedicalBooking{% endblock %}

{% block content %}
<div class="profile-container">
    <h1 class="profile-title">{{ usuario.username }}</h1>
    <p class="profile-subtitle">Bem-vindo ao seu perfil!</p>
    
    <div class="profile-menu">
        <p>Escolha uma opção no menu abaixo para gerenciar suas informações.</p>
        {% if usuario.tipo == 'Médico' %}
        <a href="{{ url_for('consultas_agendadas') }}" class="custom-submit-button">Consultas Agendadas Comigo</a>
        {% else %}
        <a href="{{ url_for('agendar_consulta') }}" class="custom-submit-button">Agendar Consulta</a>
        <a href="{{ url_for('prontuario', id_usuario=usuario.id) }}" class="custom-submit-button">Prontuários</a>
        <a href="{{ url_for('minhas_consultas') }}" class="custom-submit-button">Minhas Consultas</a>
        {% endif %}
        <a href="{{ url_for('editar_conta') }}" class="custom-submit-button">Editar Conta</a>
        <form action="{{ url_for('excluir_conta') }}" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir sua conta? Esta ação não pode ser desfeita.');">
            <button type="submit" class="custom-submit-button delete-account-button">Excluir Conta</button>
        </form>
    </div>

    {% if form %}
    <form enctype="multipart/form-data" method="POST" class="profile-form">
        {{ form.csrf_token }}
        <div class="input-group">
            {{ form.foto(class="form-control", id="foto") }}
            <label for="foto" class="floating-label">Escolher foto</label>
        </div>
        <div class="input-group">
            {{ form.submit(class="custom-submit-button", value="Enviar foto") }}
        </div>
    </form>
    {% endif %}

    <div class="photo-gallery">
        {% for foto in usuario.fotos %}
        <div class="photo-item">
            <img src="{{ url_for('static', filename='fotos_post/{}'.format(foto.imagem)) }}" alt="Foto do usuário" class="profile-photo">
        </div>
        {% endfor %}
    </div>

    <div class="logout-container">
        <a href="{{ url_for('logout') }}" class="custom-submit-button logout-button">Sair</a>
    </div>
</div>
{% endblock %}

